$boxWidth: 450px;
$btnSize: 40px;
$fontFamily: Arial, sans-serif;
$btnRadius: 4px;
//colors
$customRed: red;
$customOrange: orange;
$customYellow: yellow;
$customGreen: green;
$customBlue: blue;
$customIndigo: indigo;
$customViolet: violet;
$customBlack: black;
$customWhite: rgb(220, 220, 220);