@import './variables.scss';

.autoBtn {
    height: $btnSize;
    width: 60px;
    border-radius: $btnRadius;
    user-select: none;
    font-family: $fontFamily;    
}

.btnOn {
    background-color: $boxBG;
}

.btnOff {
    color: $boxBG;
    border: none;
}

.autoBtn:focus {
    outline: none;
}

     