@import './variables.scss';

.autoBtn {
    height: $btnSize;
    width: 50px;
    border-radius: $btnRadius 0px 0px $btnRadius;
    user-select: none;
    font-family: $fontFamily;
    margin: 10px 0px 10px 10px; 
}

.autoBtn:focus {
    outline: none;
}

.autoBtnOn {
    border-width: 2px !important;
    border-right: none;
}
.autoBtnOff {
    border: none;
}

     