.autoBtn {
    height: 40px;
    width: 60px;
    border-radius: 4px;
    user-select: none;
    font-family: 'Montserrat', sans-serif;    
}

.btnOn {
    background-color: whitesmoke;
}

.btnOff {
    color: whitesmoke;
    border: none;
}

.autoBtn:focus {
    outline: none;
}

     