.autoBtn {
    height: 40px;
    border-radius: 4px;  
}

.btnOn {
    background-color: whitesmoke;
}

.btnOff {
    color: whitesmoke;
    border: none;
}

.autoBtn:focus {
    outline: none;
}

     