@import './variables.scss';

//this list is related to changeColorNumber.js
$colors: $customRed, $customOrange, $customYellow, $customGreen, $customBlue, $customIndigo, $customViolet, $customBlack, $customWhite;

@for $i from 1 through length($colors) {
  .BG-color#{$i - 1} {
    background-color: nth($colors, $i);
    transition: background-color 1s ease;               
  }
}

@for $i from 1 through length($colors) {
  .text-color#{$i - 1} {
    color: nth($colors, $i);
    border-color: nth($colors, $i) !important;
    transition: color 1s ease, border-color 1s ease;        
  }
}
