@import './variables.scss';

button {
    width: 25px;
    height: 13px;
    border: none;
}

.buttonDisabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.customGroup {
    height: 25px;
    width: 310px;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.reSized {
    height: 27px;
    width: 312px;
}

.leftBtn {
    margin-left: 7px;
    //border-top-left-radius: 10px;
    //border-bottom-left-radius: 10px;
}