.NQbtn {
    color: whitesmoke;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    user-select: none;
    font-family: 'Montserrat', sans-serif;    
}

.NQbtn:focus {
    outline: none;
}
