@import './variables.scss';

.NQbtn {
    color: $boxBG;
    border: none;
    width: 100px;
    height: $btnSize;
    border-radius: $btnRadius;
    user-select: none;
    font-family: $fontFamily;    
}

.NQbtn:focus {
    outline: none;
}
