@import './variables.scss';

.quote {
  box-sizing: border-box;
  font-family: serif, sans-serif;
  text-align: center;    
  height: $boxWidth;
  width: $boxWidth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 0px;
}

.text {
  margin: 30px;
}

.quoteIcon {
  width: 20px;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.8s;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.2s;
}