@import '../variables.scss';

.formBtn {
    margin: calc(var(--reference)/2) auto calc(var(--reference)/2) auto;
    border: none;
    width: 90%;
    height: var(--btnHeight);
    border-radius: var(--radius);
    cursor: pointer;
    font-weight: bolder;
  }
  
.inputs {
  box-sizing: border-box;
  border-style: solid;
  border-width: var(--borderWidth);
  padding: 0px 0px 0px var(--reference);
}

.txtArea {
  padding: var(--reference);
  height: calc(var(--btnHeight) * 2);
  resize: none;
  overflow: auto;
  font-size: calc(var(--reference) * 1.4);
  line-height: 1.3;
}

.inputLabel {
  margin: 0;
}
