@import '../variables.scss';

.textBtn {
  border: none;
  margin: var(--reference);
  width: var(--btnWidth);
  height: var(--btnHeight);
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: bolder;
}