@import "../variables.scss";

.autoBtn {
  height: var(--btnHeight);
  width: calc(var(--btnWidth) - var(--btnHeight));
  border-radius: var(--radius) 0px 0px var(--radius);
  margin: var(--reference) 0px var(--reference) var(--reference);
  cursor: pointer;
  font-weight: bolder;
}

.autoBtnOn {
  width: calc(var(--btnWidth) - var(--btnHeight) + 1px);
  border-width: calc(var(--borderWidth)) !important;
  border-style: solid;
  border-right: none;
  margin-right: -1px;
}
.autoBtnOff {
  border: none;
}