@import "../variables.scss";

.gallDiv {
  box-sizing: border-box;
  width: $boxWidth;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  justify-content: space-around;
  padding: 0px 50px 0px 50px;
  position: relative;
}

.gallArrow {
  font-size: 35px;
  cursor: pointer;
  position: absolute;
}

.gallArrow:hover {
  font-size: 40px;
}

.gallArrowNext {
  @extend .gallArrow;
  right: 110px;
}

.gallArrowPrevious {
  @extend .gallArrow;
  left: 110px;
}

.gallBtn {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  transition: all 0.2s !important;
}

.gallBtn:hover {
  opacity: 1;
}

.gallBtnChosen {
  @extend .gallBtn;
  opacity: 1;
  width: 10px;
  height: 10px;
  transition: all 0.2s !important;
}

.gallDisabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.2;
}

.gallOne {
  left: 150px;
}

.gallTwo {
  left: 185px;
}

.gallFour {
  right: 185px;
}

.gallFive {
  right: 150px;
}
