@import "../variables.scss";

.gallDiv {
  width: var(--boxWidth);
  height: calc(var(--btnHeight) + var(--reference) * 2);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  justify-content: space-around;
  position: relative;
}

.gallArrow {
  font-size: calc(var(--reference) * 4);
  cursor: pointer;
}

.gallArrow:hover {
  font-size: calc(var(--reference) * 5);
}

.gallBtn {
  border-radius: 50%;
  width: var(--reference);
  height: var(--reference);
  border: none;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.2s !important;
}

.gallBtn:hover {
  opacity: 1;
}

.gallBtnChosen {
  @extend .gallBtn;
  opacity: 1;
  width: calc(var(--reference) * 1.3);
  height: calc(var(--reference) * 1.3);
}

.gallDisabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.2;
}

@media (min-width: 400px) {
  .gallDiv {
    padding: 0% 8% 0% 8%;
  }
}

@media (min-width: 500px) {
  .gallDiv {
    padding: 0% 15% 0% 15%;
  }
}