@import '../variables.scss';

.quote {
  box-sizing: border-box;
  font-family: serif, sans-serif;
  text-align: center;
  width: var(--boxWidth);
  height: var(--boxWidth);
  border-style: solid;
  border-width: var(--borderWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.text {
  margin: calc(var(--reference) * 2);
}

.quoteIcon {
  width: calc(var(--reference) * 1.5) !important;
}

.fadeIn {
  opacity: 1;
  transition: opacity 1.1s ease;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.25s ease;
}

@media (min-width: 300px) {
  .quoteIcon {
    width: calc(var(--reference) * 2) !important;
  }
}

@media (min-width: 400px) {
  .quoteIcon {
    width: calc(var(--reference) * 2.5) !important;
  }
  .text {
    margin: calc(var(--reference) * 2.5);
  }
}

@media (min-width: 500px) {
  .text {
    margin: calc(var(--reference) * 3);
  }
}