@import '../variables.scss';

.timeBtn {
  height: var(--btnHeight);
  width: var(--btnHeight);
  border-radius: 0px var(--radius) var(--radius) 0px;
  margin: var(--reference) var(--reference) var(--reference) 1px;
  cursor: pointer;
  font-weight: bolder;
}

.timeBtnOn {
  @extend .timeBtn;
  border-width: 2px !important;
  border-style: solid;
}

.timeBtnOff {
  @extend .timeBtn;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px;
}