//colors
$customRed: rgb(231, 76, 60);
$customOrange: rgb(228, 158, 29);
$customYellow: rgb(219, 219, 69);
$customGreen: rgb(29, 141, 29);
$customBlue: rgb(60, 60, 196);
$customIndigo: indigo;
$customViolet: rgb(219, 118, 219);
$customBlack: rgba(0, 0, 0, 0.87);
$customWhite: rgb(215, 215, 215);

// initial/smallest vars
:root {
  --reference: 8px;
  --negativeReference: -8px;
  --borderWidth: 2px;
  --radius: var(--reference);
  --boxWidth: calc(100vw - var(--reference) * 2);
  --btnHeight: calc(var(--reference) * 4);
  --btnWidth: calc(var(--reference) * 8);
  --iconSize: calc(var(--btnHeight) - var(--reference) * 2);
  --fontFamily: Arial, sans-serif;
  font-size: calc(var(--reference) * 1.4);
}

input, button {
  font-size: calc(var(--reference) * 1.4);
} 

@media (min-width: 270px) {
  :root {
    --reference: 10px;
    --negativeReference: -10px;
    --btnHeight: calc(var(--reference) * 4);
    --btnWidth: calc(var(--reference) * 10);
  }
}

@media (min-width: 520px) {
  :root {
    --reference: 12px;
    --negativeReference: -12px;
    --boxWidth: 500px;
  }
}
