@import './variables.scss';
@import './QuoteBoxCSS/QuoteBox.scss';
@import './IconsAndButtons/IconsAndButtons.scss';

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $fontFamily;
  overflow: auto;  
}

.fadeRouteIn {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.fadeRouteOut {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.fadeWallIn {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.fadeWallOut {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.fadeWallOutLonger {
  opacity: 0;
  transition: opacity 1s linear;
}