@import './variables.scss';

//this list is related to changeColorNumber.js
$colors: $customRed, $customOrange, $customYellow, $customGreen, $customBlue, $customIndigo, $customViolet, $customBlack, $customWhite;

@for $i from 1 through length($colors) {
  .BG-color#{$i - 1} {
    background-color: nth($colors, $i);
    transition: all 1s ease;
  }
}

@for $i from 1 through length($colors) {
  .text-color#{$i - 1} {
    color: nth($colors, $i);
    border-color: nth($colors, $i);
    transition: all 1s ease;
  }
}

@for $i from 1 through length($colors) {
  .scroll#{$i - 1} {
    scrollbar-width: thin;
    scrollbar-color: nth($colors, $i) grey;
  }
  .scroll#{$i - 1}::-webkit-scrollbar {
    height: calc(var(--reference) * 0.7);
    width: var(--reference);

  }
  .scroll#{$i - 1}::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100vw;
    margin-block: var(--reference);
  }
  .scroll#{$i - 1}::-webkit-scrollbar-thumb {
    background: nth($colors, $i);
  }
}

@for $i from 1 through length($colors) {
  .scrollbar#{$i - 1}::-webkit-scrollbar-thumb {
    border: 2px solid nth($colors, $i);
    border-radius: 100vw;
  }
}